{% extends "base.html" %}
{% load static %}
{% block content %}
         <!-- Skills Section -->
    <section id="skills" class="skills-section section dark-background">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="800">
                <h2>Skills</h2>
                <p>Technical expertise and tools I've mastered over the years</p>
            </div>

            <div class="row g-4">
               
                <div class="col-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="skill-item">
                        <i class="fab fa-java"></i>
                        <h3>java (javafx)</h3>
                        <p>Building desktop forntend throug the javafx and swing</p>
                        <div class="d-flex justify-content-between mb-2">
                            <span>60%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%"></div>
                        </div>
                    </div>
                </div>
               

                <div class="col-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <div class="skill-item">
                        <i class="fab fa-python"></i>
                        <h3>Python (Django)</h3>
                        <p>Developing robust full stack application using the django </p>
                        <div class="d-flex justify-content-between mb-2">
                            <span>85%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 85%"></div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                    <div class="skill-item">
                        <i class="fas fa-database"></i>
                        <h3>Database</h3>
                        <p> db.sqlite & PostgreSQL</p>
                        <div class="d-flex justify-content-between mb-2">
                            <span>50%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width:50%"></div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <div class="skill-item">
                        <i class="fab fa-html5"></i>
                        <h3>HTMl 5</h3>
                        <p>Frontend development with html</p>
                        <div class="d-flex justify-content-between mb-2">
                            <span>80%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 80%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <div class="skill-item">
                        <i class="fab fa-bootstrap"></i>
                        <h3>Bootstrap</h3>
                        <p>Frontend development with BootStrap</p>
                        <div class="d-flex justify-content-between mb-2">
                            <span>90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 90%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="h2 fw-bold text-center mb-5" data-aos="fade-up" data-aos-delay="100">Tools & <span
                            class="gradient-text">Technologies</span></h3>

                    <div class="row g-4 justify-content-center">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="200">
                            <div class="tech-icon">
                                <i class="fab fa-git-alt git-icon"></i>
                                <span>Git</span>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="300">
                            <div class="tech-icon">
                                <i class="fas fa-terminal vscode-icon"></i>
                                <span>VS Code</span>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="400">
                            <div class="tech-icon">
                      <i class="fa-brands fa-github"></i>
                                <span>GitHub</span>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="500">
                            <div class="tech-icon">
                                <i class="fab fa-docker docker-icon"></i>
                                <span>Docker</span>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="600">
                            <div class="tech-icon">
                                <i class="fab fa-aws aws-icon"></i>
                                <span>AWS</span>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="zoom-in" data-aos-delay="700">
                            <div class="tech-icon">
                                <i class="fab fa-figma figma-icon"></i>
                                <span>Figma</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}